/* Normal tables */
/* https://github.com/lonekorean/gist-syntax-themes */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans');

body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}


/* Responsive tables */

@media only screen and (max-width: 720px) {

  table.responsive {
    overflow-wrap: break-word;
  }

  table.responsive thead {
    display: none;
  }

  table.responsive tr {
    display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: row;
  	flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  table.responsive td {
    border: collapse;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
  	flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex: 0 0 100%;
    width: 100%;
    align-items: center;
    max-width: 100%;
  }

  table.responsive td span {
    display: block;
    overflow-wrap: break-word;
    flex: 2 1 100%;
    text-align: right;
    padding: 0.5rem;
  }

  table.responsive td::before {
    content: attr(data-label);
    display: inline-block;
    padding: 0.5rem;
    font-weight: bolder;
    flex: 1 2 100%;
    color: {{ .Get "accent" }};
    margin-right: 0.1rem;
    padding: 0.5rem;
    overflow-wrap: break-word;
  }
}
