{{ if .IsNamedParams }}
<img 
srcset="
https://images.tiernanotoole.net/Image/?inputImage={{.Get "src" }}&width=500 500w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get "src" }}&width=710 710w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get "src" }}&width=1000 1000w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get "src" }}&width=1420 1420w"
src="https://images.tiernanotoole.net/Image/?inputImage={{.Get "src" }}&width=500" alt="">
{{ else }}
<img 
srcset="
https://images.tiernanotoole.net/Image/?inputImage={{.Get 0}}&width=500 500w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get 0}}&width=710 710w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get 0}}&width=1000 1000w,
https://images.tiernanotoole.net/Image/?inputImage={{.Get 0}}&width=1420 1420w"
src="https://images.tiernanotoole.net/Image/?inputImage={{.Get 0}}&width=500" alt="">
{{ end }}


